body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 225, 201);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(red, green, blue, alpha);

}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 1px;
    margin-bottom: 10px;
    height: 40px;
}

button {
    background-color: rgb(255, 246, 204);
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    cursor: pointer;
}